
<div class="container-fluid">
	<p id="notice"><%= notice %></p>

	<!-- Title -->
	<div class="row">
		<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
			<h1>Searching for - <%= @search_term %> </h1>
			<p>Powered by Food2Fork.com</p>
		</div>

	</div>

<% if (@recipes.nil? or @recipes == []) %>
	<p><h2>No recipes found... Sorry</h2></p>

<% else %>

	<!-- Recipe Listing -->
	<div class="row">

		<% @recipes.each do |course| %>

			<div class ="col-lg-4 col-md-4 col-sm-12 col-xs-12">

				<div class="row">  
					<div class="indexRecipeCard shadowEffect" >

						<!-- recipe name -->
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 indexRecipeTitle">

							<%= link_to(course["title"],course["f2f_url"])%>	

						</div>

						<!-- image -->
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">    

							<%= link_to(image_tag(course["image_url"], class: "img-responsive text-center"), course["f2f_url"])%>


						</div>


					</div>  
				</div>
			</div> 
		
		<% end %>
			
	</div> 

<% end %>	

</div>


